<div class="container">

    <ul class="nav">
        <div class="card-body">
            <h1 class="text-center">Lista de Productos</h1>
        </div>
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/products?limit=4&page=1">Paginas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/realtimeproducts">Real Time Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/chat">Chat</a>
        </li>
    </ul>

    <br>

    <div class="card">
        <input type="hidden" id="cartId" name="cartId" value="{{cartId}}">
        <div class="card-header">
            Carrito de {{username}}
        </div>
        {{#if hasProducts}}
        <ul id="products-list">
            {{#each cart.products}}
            <li class="list-group-item">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title">{{this.pid.title}}</h5>
                            </div>
                            <div class="col text-center">
                                <form>
                                    <button id="substrackt-btn" type="button" class="btn btn-outline-danger">-</button>
                                    <input id="quantity" name="quatity" class="text-center mx-auto w-25"
                                        value="{{this.quantity}}" readonly>
                                    <button id="add-btn" type="button" class="btn btn-outline-success">+</button>
                                </form>
                            </div>
                            <div class="col text-end">
                                $ {{this.pid.price}}
                            </div>
                        </div>
                        <div class="card-footer text-body-secondary">
                            {{#if this.pid.status}}
                            <p class="text-success">Disponible</p>
                            {{else}}
                            <p class="text-secondary">No disponible</p>
                            {{/if}}
                        </div>
                    </div>
            </li>
            {{/each}}
        </ul>
        {{else}}
        <div class="card">
            <div class="card-body">
                <p class="text-secondary">El carrito esta vacio.</p>
            </div>
        </div>
        {{/if}}
    </div>

</div>

<script src="/js/cart.js"></script>