<div class="container">
    <ul class="nav">
        <div class="card-body">
            <h1>Detalle del producto</h1>
        </div>
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/products?limit=4&page=1">Paginas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/realtimeproducts">Real Time Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/chat">Chat</a>
        </li>
    </ul>

    <br>

    <div class="container">
        <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card h-100">
                    <div id="carouselExampleFade" class="carousel slide carousel-fade">
                        <div class="carousel-inner">
                            {{#each product.thumbnails}}
                            <div class="carousel-item active">
                                <img src="/{{this}}" class="d-block w-100" alt="..."
                                    style="max-height: 300px; margin: auto;">
                            </div>
                            {{/each}}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                </div>
            </div>
            <div class="col-sm-6">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{product.title}}</h5>
                        <h3 class="card-title">$ {{product.price}}</h3>
                        <p class="card-text">Stock {{product.stock}}</p>
                        {{#if productStatus}}
                        <p class="text-success">Disponible</p>
                        {{else}}
                        <p class="text-secondary">No disponible</p>
                        {{/if}}
                        <form id="add-cart" class="d-grid gap-2">
                            <button id="add-cart-btn" type="submit" class="btn btn-primary" disabled>Agregar al
                                carrito</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                Descripcion
            </div>
            <div class="card-body">
                <p class="card-text">{{product.description}}</p>
            </div>
        </div>
    </div>
</div>