<div class="container">

    <div id="notif-container" class="toast-container end-0">
    </div>

    <div class="container-fluid" id="login">
        {{#if isLoggedUser}}
        <input type="hidden" name="loggedUsername" id="loggedUsername" value="{{userSession.username}}">
        <div class="card">
            <div id="user-logged" class="card-body">
                Logueado como {{userSession.username}}.
                <a id="cart-link" class="btn btn-outline-secondary btn-sm justify-content-md-end">Ver
                    carrito</a>
                <button id="logout-btn" type="button" class="btn btn-primary">
                    Logout
                </button>
            </div>
        </div>
        {{/if}}
    </div>

    <br>

    <div class="container">
        <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card h-100">
                    <div id="carouselExampleFade" class="carousel slide carousel-fade">
                        <div class="carousel-inner">
                            {{#each product.thumbnails}}
                            <div class="carousel-item active">
                                <img src="/{{this}}" class="d-block w-100" alt="..."
                                    style="max-height: 300px; margin: auto;">
                            </div>
                            {{/each}}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                </div>
            </div>
            <div class="col-sm-6">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{product.title}}</h5>
                        <h3 class="card-title">$ {{product.price}}</h3>
                        <p class="card-text">Stock {{product.stock}}</p>
                        {{#if productStatus}}
                        <p class="text-success">Disponible</p>
                        {{else}}
                        <p class="text-secondary">No disponible</p>
                        {{/if}}
                        <form id="add-cart" class="d-grid gap-2">
                            <input type="hidden" name="productId" id="productId" value="{{product._id}}">
                            <input type="number" class="text-center" name="quantity" id="quantity" value="1">
                            {{#if isLoggedUser}}
                            <button id="add-cart-btn" type="submit" class="btn btn-primary">Agregar al
                                carrito</button>
                            {{else}}
                            <button id="add-cart-btn" type="submit" class="btn btn-primary" disabled>Agregar al
                                carrito</button>
                            {{/if}}

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                Descripcion
            </div>
            <div class="card-body">
                <p class="card-text">{{product.description}}</p>
            </div>
        </div>
    </div>
</div>

<script src="/js/product-detail.js"></script>