<div class="container">

    <br>

    <div id="modify-result"></div>

    <div id="notif-container" class="toast-container end-0">
    </div>

    {{#if userExists }}
    <div id="profile-container">

        <input type="hidden" name="userId" id="userId" value="{{user._id}}">

        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" name="email" id="email" class="form-control" value="{{user.email}}" readonly>
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">Nombre de usuario</label>
            <input type="text" name="username" id="username" class="form-control" value="{{user.username}}" readonly>
        </div>
        <div class="mb-3">
            <label for="firstName" class="form-label">Tu Nombre</label>
            <input type="text" name="firstName" id="firstName" class="form-control" value="{{user.firstName}}">
        </div>
        <div class="mb-3">
            <label for="lastName" class="form-label">Tu Apellido</label>
            <input type="text" name="lastName" id="lastName" class="form-control" value="{{user.lastName}}">
        </div>
        <div class="mb-3">
            <label for="age" class="form-label">Edad</label>
            <input type="number" name="age" id="age" class="form-control" value="{{user.age}}">
        </div>

        <div class="mb-3">
            <label for="age" class="form-label">Rol</label>
            <input type="text" name="role" id="role" class="form-control" value="{{user.role}}">
        </div>

        <div class="mb-3">
            <a href="/profile/modify/{{user._id}}" class="btn btn-primary">Modificar</button>
        </div>
    </div>

    <div id="spinner"></div>
    {{else}}
    <div id="profile-container">
        <div class="alert alert-danger" role="alert">
            Usuario no encontrado.
        </div>
    </div>
    {{/if}}

</div>